body {
  font-family: Arial;
  margin: 0;
  background: #f0f2f5;
}

.topbar {
  background: dodgerblue;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.upload-section {
  padding: 20px;
}

.file-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.file-card {
  background: white;
  width: 150px;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
